button {
  background-color: #999b84;
  width: 150px;
}

select {
  display: block;
  margin-bottom: 20px;
}

.verification {
  background: #ddb7ab;
  padding: 30px;
  height: 20vh;
}

.transaction {
  background: #999b84;
  padding: 30px;
  height: 100vh;
}

